<%- include ("header.ejs") %>

    <!-- <%- include ("navbar.ejs") %> -->


    <div class="container">
        <h1>
            <div class="Regisrations users">
                <div class="err">
                    <h4>Oops!! Problem Encountered</h4>
                </div>

                <div class="msge">
                    <%= msg %>
                        <br>
                </div>

                <div class="send glow">
                    <a href="/signin">Sign in  Again</a>
                </div>
            </div>
        </h1>



    </div>
    <%- include ("footer.ejs") %>