<%- include ("header.ejs") %>
    <!-- <%- include ("navbar.ejs") %> -->


    <ul class="cards">
        <li>
            <a href="" class="card">
                <!-- <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" /> -->
                <img src="img/house3.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                        <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">OUR MISSION </h3>
                        </div>
                    </div>
                    <p class="card__description">To be the first choice for our consumers and partners in their journey of discovering, renting, buying, selling and financing a home</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <!-- <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" /> -->
                <img src="img/house5.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                        <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">OUR VISION</h3>
                        </div>
                    </div>
                    <p class="card__description">Delivering trustworthy experiences that you cherish for a lifetime.</p>
                </div>
            </a>
        </li>

        <li>
            <a href="" class="card">
                <!-- <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" /> -->
                <img src="img/house2.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                        <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">INNOVATION </h3>

                        </div>
                    </div>
                    <p class="card__description">We are always looking to improve, to change, to disrupt. Because with change comes unseen possibilities.</p>
                </div>
            </a>
        </li>


    </ul>
    </div>


    <%- include("footer") -%>