<%- include ("header.ejs") %>
    <div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo"><br><a href="/">e-HOUSE</a></div>
                <ul class="links">
                    <li><a href="/signin">Sign In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li>
                        <a href="/signin" class="desktop-link">Services</a>
                        <input type="checkbox" id="show-services">
                        <label for="show-services">Services</label>
                        <ul>
                            <li><a href="/signin">Post a House</a></li>
                            <li><a href="/signin">Rent a House</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                </ul>

            </div>

            <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
            <form action="#" class="search-box">
                <input type="text" placeholder="Type Something to Search..." required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>

        </nav>
    </div>