<%- include ("header.ejs") %>
    <%- include ("navbar.ejs") %>
        <div class="main">
            <div class="wraps">
                <div class="Regisration">
                    <div class="boundary">
                        <div class="neonText">
                            <h5>Sign Up Now</h5>
                        </div>
                        <form method="POST" action="/signup">
                            <input type="text" name="fname" value="First Name" onfocus="if (this.value == 'First Name') {this.value = '';}" onblur="if (this.value == '') {this.value = 'First Name';}" required>

                            <input type="text" name="lname" value="Last Name" onfocus="if (this.value == 'Last Name') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Last Name';}" required>

                            <input type="text" name="email" value="Email Address" onfocus="if (this.value == 'Email Address') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Email Address';}" required>

                            <input type="text" name="contact" value="Phone No" onfocus="if (this.value == 'Phone No') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Phone No';}" required>

                            <input type="password" id="pwd1" name="pwd1" placeholder="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.placeholder = 'Password';}" onkeyup='check();' required>

                            <input type="password" id="pwd2" name="pwd2" placeholder=" Confirm Password" onfocus="if (this.value == 'Confirm Password') {this.value = '';}" onblur="if (this.value == '') {this.placeholder = ' Confirm Password';}" onkeyup='check();' required>

                            <div class="Remember-me">
                                <div class="p-container">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>I agree to the Terms and Conditions</label>
                                    <div class="clear"></div>
                                </div>

                                <div class="send down">
                                    <!-- <input type="submit" onclick="myFunction()" value="Sign Me Up"> -->
                                    <button type="submit">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include ("footer.ejs") %>